.screem ul {
  display: flex;
  list-style: none;

  border-radius: 10px;



}

.screem ul li img {
  background-color: rgb(30, 101, 195);

  border-radius: 10px;

  margin-left: 10px;

  padding: 3px;


}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

textarea {
  height: 150px;
}


