<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          
          <p>Estamos a su disposición para cualquier consulta, duda o sugerencia.</p>
          <ul>
            <li><i class="fa fa-map-marker"></i> Santa Fe Argentina</li>
            <li><i class="fa fa-phone"></i> Teléfono: +54 0342 155 238973</li>
            <li><i class="fa fa-envelope"></i> Correo electrónico: carlosalfredogomez1981@gmail.com</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Síguenos</h3>
          <ul class="social-media">
            
                <li >
                  <a class=" " aria-current="page" href="#"><img src="../../../../assets/logofacebook.png" alt=""></a>
                </li>
                <li >
                  <a class="" href="#"><img src="../../../../assets/logoinstagram.png" alt=""></a>
               </li>
               <li >
                  <a class="" href="#"><img src="../../../../assets/logogithub.png" alt=""></a>
               </li>
               <li >
                  <a class="" href="#"><img src="../../../../assets/logowhatsapp.png" alt=""></a>
               </li>
              
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
