<nav class="navbar navbar-expand-lg navbar-light fondo_barra">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../../../assets/LOGO ARG.png" alt="logo argentina programa" id="logo" ></a>
      
        
      
      <span>
      <div class="screem" >
        <ul >
          <li >
            <a class=" " aria-current="page" href="#"><img src="../../../../assets/logofacebook.png" alt=""></a>
          </li>
          <li >
            <a class="" href="#"><img src="../../../../assets/logoinstagram.png" alt=""></a>
         </li>
         <li >
            <a class="" href="#"><img src="../../../../assets/logogithub.png" alt=""></a>
         </li>
         <li >
            <a class="" href="#"><img src="../../../../assets/logowhatsapp.png" alt=""></a>
         </li>
        </ul>
        
      </div>
    </span>
    </div>
  </nav>

  <form class="d-flex fondo_barra">
    <input class="form-control me-2" type="search" placeholder="escibe aqui tu busqueda" aria-label="Search">
    <button class="btn btn-outline-succes boton" type="submit">Buscar</button>
  </form>

 