.fondo_barra {
    border-radius: 5px;
   


    
    color: #fff;
    padding: 10px
}

#logo {
    width: 60%;
}

.boton {
    color: rgb(255, 255, 255);
}

.screem ul {
    display: flex;
    list-style: none;

}

