<div class="contenido">

  <button class=" boton"routerLink="/">REGRESAR</button>
  
    
    
    
    <div class="card">
      <div class="card-header fondo">
        SUBOFICIAL DE LA JEFATURA MILITAR 
        <img src="../../../../assets/Escudo_Armada_Argentina.png" alt="" width="30px" style="float: right;">
      </div>

     
      <div class="card-body">
        <h5 class="card-title">ARMADA ARGENTINA</h5>
        <p class="card-text">Armada Argentina Personal de Suboficiales. Jefatura Militar de la Dirección de Educación Naval   2003 a 2010, Banda de Música de la Dirección de Educación Naval <br>desde el año 2003 a 2010</p>
        
      </div>
    </div>
    
  
    <div class="card">
      <div class="card-header fondo">
        FOTOGRAFÍA Y VIDEOFILMACIÓN
        <img src="../../../../assets/LYS LOGO.png" alt="" width="30px" style="float: right;">
      </div>

     
      <div class="card-body">
        <h5 class="card-title">LYS PRODUCCIONES </h5>
        <p class="card-text">Fotografía profesional, diseños, creación de contenido imagen y video “LYS Fotografía” ATENCIÓN AL PÚBLICO  Local Comercial Castelli 3229  desde 2010 a 2022</p>
        
      </div>
    </div>
  
  
  
    <div class="card">
      <div class="card-header fondo ">
        TÉCNICO SUPERIOR EN MÚSICA
        <img src="../../../../assets/musicaaa.png" alt="" width="30px" style="float: right;">
      </div>

      
      <div class="card-body">
        <h5 class="card-title">CLASES PARTICULARES DE MÚSICA</h5>
        <p class="card-text">Dictado de clases particulares de música, Piano y Guitarra<br>
        prescenciales y mediante <a href="https://apps.google.com/meet/" target="_blank">Google Meet</a></p>
        
      </div>
    </div>

    
    <div class="card">
      <div class="card-header fondo ">
        DESARROLLO WEB - Front End | creador de contenido
       
      </div>

      
      <div class="card-body">
        <h5 class="card-title">Freelance</h5>
        <p class="card-text">Armado maquetado de páginas web, puesta en linea de sitio web, creador de contenido youtube, edición y diseño, concluyendo con un servicio completo poniendo al cliente en linea en distintas plataformas y redes</p> <p> <a href="https://www.eldatocannabis.com" target="_blank">ver sitio web cliente</a> <br><a href="https://youtube.com/@eldatocannabis" target="_blank">ver youtube cliente </a></p>
        
      </div>
    </div>
  
  
  </div>