<div class="contenedor_primario">

  <button class=" boton"routerLink="/">REGRESAR</button>

<h3 style="color: black;">Algunos Proyectos WEB Realizados</h3>




<div class="contenedor">
    <div class="row">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card_proyectos">
      <img src="../../../assets/eldatocannabis.jpg" alt="imagen" class="imagen_proyectos">
      <p class="titulo_proyectos">www.eldatocannabis.com </p>
      <p class="descripcion_proyectos">Pagina Web realizada para informar sobre la planta de cannabis, pedido realizado por un estudiante de la Universidad de Colombia Pharmacology University</p>
      <a href="https://www.eldatocannabis.com/" class="boton_proyectos" target="_blank">Visitar</a>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card_proyectos">
    <img src="../../../assets/lysfotografias.jpg" alt="imagen" class="imagen_proyectos">
    <p class="titulo_proyectos">www.lysfotografias.online </p>
    <p class="descripcion_proyectos">Sitio Web sobre mi trabajo como fotógrafo, encontrarás muestras de fotos y enlaces a videos de youtube, asi como información y formulario de contacto </p>
    <a href="https://www.lysfotografias.online/" class="boton_proyectos" target="_blank">Visitar</a>
  </div>
</div>




    
   

</div></div></div>