.contenedor {

    padding: 5px;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
    box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
    border: 1px solid white;
    background-color: rgb(230, 239, 247);
    text-align: center;

}


.card {
    padding: 10px;
    border-radius: 35px 0px;
    border: 8px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.195)
}

.card:hover {
    box-shadow: 2px 5px 10px rgb(88, 238, 251)
}

#boton {
    padding: 3px 10px 3px 10px;
    background-color: rgb(88, 133, 255);
    color: aliceblue;
    border-radius: 8px;
    box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
    border: 1px solid white;
 
}
#boton:hover{
    padding: 3px 10px 3px 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(2, 137, 254);
    border-radius: 8px;
    box-shadow: 4px 7px 13px -8px rgba(43, 110, 255, 0.75);
    border: 1px solid rgb(255, 255, 255);
}





/*navegacion*/

.boton {
  margin: 5px;
  background-color: rgba(5, 120, 236, 0.307);
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.299);
  padding: 5px 8px 5px 8px;
}

.boton:hover {
  margin: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 26, 255);

  border: 5px solid white;
  padding: 5px 8px 5px 8px;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.227);
}

.botones {
  margin: 0px 0px 2px 20px;
 

}
@media (max-width: 900px) {

 
  .boton {
    
    margin: 5px;
    background-color: rgba(5, 120, 236, 0.503);
    color: white;
  
    border: 1px solid rgba(255, 255, 255, 0.299);
    padding: 5px 8px 5px 8px;
  }


} 