<div class=" contenedor">
  <button class=" boton" routerLink="/formacion">formación académica</button>
  <button class=" boton"routerLink="/tecnologias">tecnologías</button>
  
  <button class=" boton"routerLink="/proyectos">proyectos</button>
  <button class=" boton"routerLink="/actividades">otras actividades</button>
  <button class=" boton"routerLink="/">Inicio</button>
  <h3>soft and hard skills</h3>




   

      
      <div class="row">


  <div class="row">
    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>Trabajo en equipo</h5>
      <circle-progress
        [percent]="90"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2000"
      ></circle-progress>
    </div>

    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>Resolución de problemas</h5>
      <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1600"
      ></circle-progress>
    </div>

    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>Capacidad de comunicación</h5>
      <circle-progress
        [percent]="90"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1400"
      ></circle-progress>
    </div>

    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>Capacidad de aprendizaje</h5>
      <circle-progress
        [percent]="80"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2200"
      ></circle-progress>
    </div>

    
    <h4>Habilidades de Programación</h4>
    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>MYSQL</h5>
      <circle-progress
        [percent]="50"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1890"
      ></circle-progress>
    </div>

    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>JAVA</h5>
      <circle-progress
        [percent]="50"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1900"
      ></circle-progress>
    </div>

    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>BOOTSTRAP</h5>
      <circle-progress
        [percent]="75"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="2300"></circle-progress>
    </div>

    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>ANGULAR</h5>
      <circle-progress
        [percent]="68"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1850"
      ></circle-progress>
    </div>

    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>Html</h5>
      <circle-progress
        [percent]="68"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1850"
      ></circle-progress>
    </div>

    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>CSS</h5>
      <circle-progress
        [percent]="68"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1850"
      ></circle-progress>
    </div>

    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>Java Script</h5>
      <circle-progress
        [percent]="68"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1850"
      ></circle-progress>
    </div>

    <div class="col-xs-11 col-sm-5 col-md-3 col-lg-2 card">
      <h5>tipe Script</h5>
      <circle-progress
        [percent]="68"
        [radius]="70"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1850"
      ></circle-progress>
    </div>

    <h5>SEGUIMOS PROGRESANDO</h5>
  </div>
</div>


</div>






