.estilo{
    padding:0;
    margin-top: 2px;
    border-radius: 5px;
    border: 1px solid rgb(151, 151, 151);
    background-color:rgb(173, 201, 230);
    margin-bottom: 8px;
    box-shadow: 4px 7px 13px -8px rgba(0,0,0,0.75);;
   
}