
<div class="banner ">
  <img src="../../../../assets/BANNER.jpg" alt=" " class="img-fluid">
 </div>
 <div class=" incrustar">
 

  <div class="botones ">
  
  <button class=" boton" routerLink="/formacion">formación académica</button>
  <button class=" boton"routerLink="/laboral">experiencias laborales</button>
  <button class=" boton"routerLink="/tecnologias">tecnologías</button>
  <button class=" boton"routerLink="/habilidades">soft and hard skill</button>
  <button class=" boton"routerLink="/proyectos">proyectos</button>
  <button class=" boton"routerLink="/actividades">otras actividades</button>
  
  
  
  
</div>



</div>
