.actividades{
  border-radius: 15px;
 
  margin: 10px 5px 5px 5px;
  box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
  border: 1px solid white;
  background-color: rgb(224, 238, 250);
  display: flex-box;
  text-align: center;

}
h3{
    text-align: center;
    
    color: rgb(255, 255, 255);
   
}

.actividades .pol{
    margin:5px 2px 5px 25px;
    border:1px solid white;
    padding:5px;
    border-radius: 8px;
    box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
    justify-content:space-between;
}


@media screen and (max-width: 768px){
    .actividades{
        display:block;
        border-radius: 15px;
        border: 1px solid rgb(255, 255, 255);
        margin: 10px 5px 5px 5px;
        box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
        border: 1px solid white;
        background-color: rgb(224, 238, 250);
        justify-content:center;
        
        
    }
  
}

#boton{
    padding:20px;
     width: 90%;
     background-color: rgb(88, 133, 255);
     color: aliceblue;
     border-radius: 8px;
     margin: 2px 15px 5px 15px;
     box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
     border: 1px solid white;
     
     
  }
  #boton:hover{
    padding:20px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    color: rgb(21, 114, 196);
    border-radius: 8px;
    margin: 2px 15px 5px 15px;
    box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
    border: 1px solid rgb(55, 88, 234);
  }

  

   /*navegacion*/

.boton {
  margin: 5px;
  background-color: rgba(5, 120, 236, 0.307);
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.299);
  padding: 5px 8px 5px 8px;
}

.boton:hover {
  margin: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 26, 255);

  border: 5px solid white;
  padding: 5px 8px 5px 8px;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.227);
}

.botones {
  margin: 0px 0px 2px 20px;
 

}
@media (max-width: 900px) {

 
  .boton {
    
    margin: 5px;
    background-color: rgba(5, 120, 236, 0.503);
    color: white;
  
    border: 1px solid rgba(255, 255, 255, 0.299);
    padding: 5px 8px 5px 8px;
  }


}