



<h3>Otras Actividades y Ocupaciones</h3>

  <div class="actividades">
    


    <div class="card pol" style="width: 18rem;">
        <img src="../../../../assets/facebook tarjeta.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">FOTÓGRAFO DE EVENTOS</h5>
          <p class="card-text">Con mas de 12 años de experiencia en fotografía, captura y edición de Videos, organización de eventos. Ingresá y conocé mi trayectoria en este rubro </p>
          <a href="https://www.facebook.com/people/LYS-FOTO-y-VIDEO/100039719214983/" class="btn btn-primary" target="_blank">LYS Producciones</a>
        </div>
      </div>

      <div class="card pol" style="width: 18rem;">
        <img src="../../../../assets/facebook tarjeta tuba.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mi Camino con la Música</h5>
          <p class="card-text">en este facebook conocerás mi faceta de Músico Tuba, Piano, guitarra y algo más .</p>
          <a href="https://www.facebook.com/carlos.tuba.378" class="btn btn-primary" target="_blank">Carlos Tuba</a>
        </div>
      </div>

      <div class="card pol" style="width: 18rem;">
        <img src="../../../../assets/youtube tarjeta.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mas Música y algo de Producción</h5>
          <p class="card-text">otro de mis pasatiempos alguno tutoriales y algo más.</p>
          <a href="https://www.youtube.com/channel/UCnba0025uLdTvnPC5s2xpKQ/videos" class="btn btn-primary" target="_blank">Visitar</a>
        </div>
      </div>


</div>