.actividades{
    display:flex;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px 5px 10px 5px;
    box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
    border: 1px solid white;
    background-color: rgb(210, 230, 246);
    justify-content: center;

}
h3{
    text-align: center;
    
    color: rgb(255, 255, 255);
   
}

.actividades .pol{
    margin:5px 2px 5px 25px;
    border:1px solid white;
    padding:5px;
    border-radius: 8px;
    box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
    justify-content:space-between;
}


@media screen and (max-width: 768px){
    .actividades{
        display:block;
        border-radius: 15px;
        border: 1px solid rgb(255, 255, 255);
        margin: 10px 5px 5px 5px;
        box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
        border: 1px solid white;
        background-color: rgb(224, 238, 250);
        justify-content:center;
        
        
    }
  
}

#boton{
    padding:20px;
     width: 90%;
     background-color: rgb(88, 133, 255);
     color: aliceblue;
     border-radius: 8px;
     margin: 2px 15px 5px 15px;
     box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
     border: 1px solid white;
     
     
  }
  #boton:hover{
    padding:20px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    color: rgb(21, 114, 196);
    border-radius: 8px;
    margin: 2px 15px 5px 15px;
    box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
    border: 1px solid rgb(55, 88, 234);
  }

  .contenedor_primario{
    margin:5px;
     border: 1px solid white;
   }