<div class="contiene">

  <h3 class="titulo">Tecnologías y habilidades Digitales</h3>
  <h5>Fotografía, Diseño y Edición</h5>
  
  <div class="iconos">
      
      <img src="../../../../assets/PHOTOSHOP.png" alt="">
      <img src="../../../../assets/LIGTHROOM.png" alt="">
      <img src="../../../../assets/PREMIERE.png" alt="">
      <img src="../../../../assets/COREL.png" alt="">
      <img src="../../../../assets/exel.png" alt="">
      <img src="../../../../assets/POWER.png" alt="">
      <img src="../../../../assets/word.png" alt="">
      
    </div>
    <div class="corte"> <h5>FRAMEWORKS</h5> <h6>Desarrollo y Programación</h6></div>
  
    
  
  <div class="iconos">
      
      <img src="../../../../assets/Angular.png" alt="">
      <img src="../../../../assets/bootsrap.png" alt="">
      <img src="../../../../assets/css.png" alt="">
      <img src="../../../../assets/html.png" alt="">
      <img src="../../../../assets/java script.png" alt="">
      <img src="../../../../assets/filizilla.png" alt="">
      <img src="../../../../assets/java.png" alt="">
      <img src="../../../../assets/SQL.png" alt="">
      
    </div>

</div>