<!--habilidade sdigitales-->
<div class="contiene">
  <button class=" boton" routerLink="/formacion">formación académica</button>
  
  <button class=" boton"routerLink="/habilidades">soft and hard skill</button>
  <button class=" boton"routerLink="/proyectos">proyectos</button>
  <button class=" boton"routerLink="/actividades">otras actividades</button>
  <button class=" boton"routerLink="/">Inicio</button>
  
  <h3>Software</h3>

    

 
 

  <h5>Fotografía, Video, Audio, Diseño y Edición</h5>
  

  <div class="iconos">
    <img src="../../../../assets/PHOTOSHOP.png" alt="" />
    <img src="../../../../assets/LIGTHROOM.png" alt="" />
    <img src="../../../../assets/PREMIERE.png" alt="" />
    <img src="../../../../assets/REAPER_logo.png" alt="" />
    <img src="../../../../assets/COREL.png" alt="" />
    <img src="../../../../assets/exel.png" alt="" />
    <img src="../../../../assets/POWER.png" alt="" />
    <img src="../../../../assets/word.png" alt="" />

    <ul>
      <li *ngFor="let propiedad of miPortfolio[1].tecnologias[0].fotografia" >{{ propiedad }}</li>
    </ul>
    

  </div>

  <!--000000000000000000000000000000000000-->
  <div class="corte">
    <h5>FRAMEWORKS</h5>
    <h6>Desarrollo y Programación</h6>
  </div>

  <div class="iconos">
    <img src="../../../../assets/Angular.png" alt="" />
    <img src="../../../../assets/bootsrap.png" alt="" />
    <img src="../../../../assets/css.png" alt="" />
    <img src="../../../../assets/html.png" alt="" />
    <img src="../../../../assets/java script.png" alt="" />
    <img src="../../../../assets/filizilla.png" alt="" />
    <img src="../../../../assets/java.png" alt="" />
    <img src="../../../../assets/SQL.png" alt="" />
    <ul>
    <li *ngFor="let propiedad of miPortfolio[1].tecnologias[1].frameworksProgramacion" >{{ propiedad }}</li>
  </ul>
  </div>

  <!--000000000000000000000000000000000000-->
  <div class="corte">
    <h5>Habilidades en Redes Sociales</h5>
    <h6>Desarrollo de contenido y actualizaciones</h6>
  </div>

  <div class="acomodar">
    <img src="../../../../assets/YouTube-logo-600x338.png" alt="" />
    <img src="../../../../assets/Facebook-logo.png" alt="" />
    <img src="../../../../assets/ig-logo.png" alt="" />
    <img src="../../../../assets/GitHubLogo.png" alt=""  />
  <ul>
    <li *ngFor="let propiedad of miPortfolio[1].tecnologias[2].redesSociales" >{{ propiedad }}</li>
</ul>
</div> 


  </div>



