<div class="contenedor_primario">
  <button class=" boton" routerLink="/formacion">formación académica</button>
  <button class=" boton"routerLink="/tecnologias">tecnologías</button>
  <button class=" boton"routerLink="/habilidades">soft and hard skill</button>
  
  <button class=" boton"routerLink="/actividades">otras actividades</button>
  <button class=" boton"routerLink="/">Inicio</button>

<h3>Algunos Proyectos WEB Realizados</h3>




<div class="contenedor">
    <div class="row">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card_proyectos">
      <img src="../../../assets/eldatocannabis.jpg" alt="imagen" class="imagen_proyectos">
      <p class="titulo_proyectos">www.eldatocannabis.com </p>
      <p class="descripcion_proyectos">Pagina Web realizada para informar sobre la planta de cannabis, pedido realizado por un estudiante de la Universidad de Colombia Pharmacology University</p>
      <a href="https://www.eldatocannabis.com/" class="boton_proyectos" target="_blank">Visitar</a>
    </div>
</div>
<!--
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card_proyectos">
      <img src="https://example.com/project-image.jpg" alt="imagen" class="imagen_proyectos">
      <h2 class="titulo_proyectos">Project Title</h2>
      <p class="descripcion_proyectos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id luctus tellus. Nunc non tellus eget tellus mattis pulvinar.</p>
      <a href="#" class="boton_proyectos">View Project</a>
    </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card_proyectos">
      <img src="https://example.com/project-image.jpg" alt="imagen" class="imagen_proyectos">
      <h2 class="titulo_proyectos">Project Title</h2>
      <p class="descripcion_proyectos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id luctus tellus. Nunc non tellus eget tellus mattis pulvinar.</p>
      <a href="#" class="boton_proyectos">View Project</a>
    </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card_proyectos">
      <img src="https://example.com/project-image.jpg" alt="imagen" class="imagen_proyectos">
      <h2 class="titulo_proyectos">Project Title</h2>
      <p class="descripcion_proyectos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id luctus tellus. Nunc non tellus eget tellus mattis pulvinar.</p>
      <a href="#" class="boton_proyectos">View Project</a>
    </div>
</div>

-->
    
   

</div></div></div>