<div class="acerca_de_mi">
    <h3>Acerca de mi</h3>
    <ul>
        <li>Mi nombre es Carlos, Argentino nacido en el año 1981, padre de familia y esposo dedicado.</li>
        <li>Estudiante de Programación y Desarrollo de Página web</li>
        <li>Fotógrafo con mas de 12 años de experiencia</li>
        <li>Músico Profesional con tecnicatura Superior</li>
        <li>Entusiasta Autodidacta y con ganas de seguir aprendiendo</li>
        
    </ul>
    <button (click)="toggleDiv()" id="boton">CONTÁCTAME</button>
    <div [hidden]="isDivHidden">


        <div class="screem" >
            <ul >
              <li >
                <a class=" " aria-current="page" href="#"><img src="../../../../assets/logofacebook.png" alt=""></a>
              </li>
              <li >
                <a class="" href="#"><img src="../../../../assets/logoinstagram.png" alt=""></a>
             </li>
            
             <li >
                <a class="" href="#"><img src="../../../../assets/logowhatsapp.png" alt=""></a>
             </li>

             <li >
                <a class="" href="#"><img src="../../../../assets/logo-Gmail-1.png" alt=""></a>
             </li>

            </ul>
            
          </div>
    
        
    </div> 

</div>


