.acerca_de_mi {
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px 5px 5px 5px;
    box-shadow: 4px 7px 13px -8px rgba(0, 0, 0, 0.75);
    border: 1px solid white;
    background-color: rgb(224, 238, 250);
}


.acerca_de_mi ul {
    list-style: none;
    text-decoration: none;
}

.acerca_de_mi h3 {
    text-align: center;
    background-color: rgb(88, 133, 255);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 10px 15px 5px 15px;
    box-shadow: 4px 7px 13px -8px rgba(0,0,0,0.75);
    border: 1px solid white;
}

.acerca_de_mi li {
    text-align: center;
    font-weight: bold;

}

@media screen and (max-width: 500px) {
    .acerca_de_mi li {
        text-align: left;
        font-weight: bold;

    }

    .acerca_de_mi ul {
        list-style:disc;
        text-decoration: none;
    }

    .acerca_de_mi h3 {
        background-color: rgb(88, 133, 255);
        color: aliceblue;
        border-radius: 8px;
        margin: 10px 15px 5px 15px;
        box-shadow: 4px 7px 13px -8px rgba(0,0,0,0.75);
        border: 1px solid white;
       padding-bottom: 2px;
        padding-right: 30px;
        
        
    }
}