

<div class="acerca_de_mi">
  <div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 ">
  <img  src="../../../../assets/FOTO PERFIL.png"class="perfil" alt="" >
  </div>
  <div class="col-xs-12 col-sm-12 col-md-1 "></div>
  <div class="col-xs-12 col-sm-12 col-md-8 mt-4">
   
       <p> Hola, mi nombre es </p>
       <h1>{{persona.nombre}} {{persona.apellido}}</h1> 
       <p>nací el {{persona.fecha_nacimiento}}</p>
       <p>soy de nacionalidad {{persona.nacionalidad}} y mi dni es {{persona.dni}}</p>
       <p>{{persona.descripcion}}</p>
        
       
          
  </div>
</div>
</div>

   

    
        </div>
      











