<div class="contenido">
  <h3>Formación Académica</h3>

  <div class="card">
    <div class="card-header">
      <h4>Título Secundario</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Bachiller con Orientación Docente</h5>
      <p class="card-text">
        • Secundario Completo. Bachiller con Orientación Docente Colegio Sagrado
        Corazón de Jesús <br />• Provincia de Santiago del Estero
      </p>
      <a href="#" class="btn btn-primary">Visitar Instituto </a>
      <a href="#" class="btn btn-primary titulos">Ver Título</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4>Título Terciario</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Técnico Superior en interpretación musical</h5>
      <p class="card-text">
        • Terciario Completo.<br> • Técnico Superior en interpretación musical<br>•
        Especialidad Bajo<br>• Buenos Aires Capital Federal
      </p>
      <a href="#" class="btn btn-primary">Visitar Instituto </a>
      <a href="#" class="btn btn-primary titulos">Ver Título</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4>Desarrollador web Full Stack</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Programación y diseño de páginas Web</h5>
      <p class="card-text">
        • Argentina Programa<br />• Google Activate <br />• cursados Online
      </p>
      <a href="#" class="btn btn-primary">Visitar</a>
      <a href="#" class="btn btn-primary titulos">Ver Certificados</a>
<!--para pantallas chicas se sale del texto-->
      <div class="card-footer" >
        <h5>LENGUAJES DE PROGRAMACIÓN </h5>
        <ul class="lenguajes">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Java</li>
          <li>SQL</li>
          <li>TipeScript</li>
        </ul>
        <h5>FRAMEWORKS</h5>
        <ul class="lenguajes">
          <li>Angular</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-header">
      <h4>Fotografía Profesional</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Fotografía y videofilmación en eventos</h5>
      <p class="card-text">
        •Diseño y Producción.<br> • Captura y Edición de Videos<br>•
        Edición y Retoque Fotográfico<br>• Diseño e impreción
      </p>
      <a href="#" class="btn btn-primary">LYS Producciones </a>
      <a href="#" class="btn btn-primary titulos">Ver Trayectoria</a>
    </div>
  </div>


  
</div>
